@media screen and (max-width: 800px) {
    .header-flex {
        display: none;
    }

    .inner-nav {
        display: flex;
    }

    .header {
        position: fixed;
    }

    .convenios {
        font-size: 4.8vw;
    }

    .convenio-info {
        width: 90vw;
    }

    .tittle {
        font-size: 4vw;
      }
      
      .convenio-info p {
        font-size: 1.9vw;
      }
      
      
      .convenio-info button {
        padding: 7px 0px;
        font-size: 3.8vw;
        margin-top: 3vh;
      }
      
      .convenio-info button:hover {
        cursor: default;
      }

      .info-box {
        width: 50vw;
        height: 54vw;
        margin-top: 8vh;
      }
      
      .info-box h2 {
        font-size: 2.8vw;
      
      }






    .rodape {
        margin-top: 5vw;
        flex-direction: column;
        align-items: center;
    }

    .reuniao {
        width: 82%;
    }

    .reuniao h2 {
        font-size: 3.5vw;
    }
      
      .reuniao h3 {
        font-size: 2vw;
    }

    .underline input {
        font-size: 2.2vw;
    }
    
    .reuniao button {
        padding: 7px 0px;
        font-size: 3vw;
    }

    .endereco {
        width: 82%;
        margin-top: 2vh;
    }

    .endereco h2 {
        font-size: 3.5vw;
    }

    .endereco .contato {
        font-size: 3.5vw;
      }

    .endereco h3 {
        font-size: 2.1vw;
      
    }
      
    .endereco a {
        font-size: 2.1vw;
      
    }
      
    .endereco i {
        font-size: 2.1vw;
    }

    .outros {
        width: 82%;
        margin-top: 2vh;
      }
      
    .outros h2 {
        font-size: 3.5vw;
    }

}