.price-area {
  width: 90vw;
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.price-area h2 {
  color: var(--white);
  margin-top: 5vh;
}

.price-area ul h2 {
  margin-top: 0;
}

.tittle {
  width: 100%;
  text-align: center;
  letter-spacing: 1.5px;
  z-index: 899;
}

.price-area ul {
  width: 23vw;
  height: 14vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background: var(--dark2);
  padding: 4vh 2vw;
  border-radius: 1.5vw;
  margin-top: 5vh;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.price-area ul h2 {
  font-size: 1.6vw;
  color: var(--fontcolor1);
  font-weight: 400;
}

.price-area li {
  font-size: 1.1vw;
  color: var(--fontcolor2);
  font-weight: 400;
  margin-top: 1vh;
  padding: 0vh 0.5vw;
}

.price-area button {
  background: var(--red);
  border: 2px solid var(--red);
  font-size: 1.2vw;
  color: var(--white);
  font-weight: 500;
  height: 3.5vw;
  border-radius: 8px;
  transition: 0.3s ease all;
  margin-top: 2vh;
  width: 100%;
}

.price-area button:hover {
  border: 2px solid var(--red);
  background: transparent;
  color: var(--red);
  cursor: pointer;
}

.novidades-area {
  width: 90vw;
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.novidade-box {
  width: 30vw;
  height: 34vw;
  display: flex;
  flex-direction: column;
  background: var(--dark2);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  padding: 3.5vh 2vw;
  border-radius: 1.5vw;
  justify-content: center;
  align-items: center;
}

.novidade-box img {
  width: 100%;
  margin-top: 2vh;
  border-radius: 25px;
}

.novidade-box h2 {
  font-size: 1.5vw;
  color: var(--fontcolor1);
  font-weight: 400;
}

.info-price {
  width: 88vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-price h2 {
  font-size: 1.6vw;
  color: var(--fontcolor1);
  font-weight: 500;
  letter-spacing: 1px;
}

.info-price span {
  color: var(--red);
}

.info-price p {
  font-size: 0.8vw;
  color: var(--fontcolor2);
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 30px;
  margin-top: 2vh;
}
