@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: initial;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: none;
  font-family: Poppins, sans-serif;
}

:root {
    --dark1: #100f10;
    --dark2: #1b1b1b;
    --dark3: #242424;
    --red: #ec0020;
    --white: #fafafa;
    --gray: #535353;
    --fontcolor1: rgb(255, 255, 255,0.9);
    --fontcolor2: rgb(250, 250, 250,0.7);
    --fontcolor3: rgb(255, 255, 255,0.5);
}

body {
  background: var(--dark1);
  max-height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*Header*/

.header {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    justify-content: center;
    height: 10vh;
    z-index: 999;
  }
  
  .header-flex {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .header img {
    width: 8vw;
  }
  
  .header-btts {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .header-btts a {
    color: white;
    font-size: 0.9vw;
    font-weight: 500;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease all;
  }
  
  .header-btts a:hover {
  transform: translateY(-0.5vh);
  color: var(--red);
  }
  
  .header-btts .page-select {
  color: var(--red);
  }







.login {
    position: fixed;
    width: 100vw;
    height: 100vh;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    z-index: 999;
    backdrop-filter: blur(3px);
    display: none;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
    width: 40vw;
    padding: 2vw;
    background: var(--dark3);
    border-radius: 25px;
}

.login-box h2 {
    font-size: 2.5vw;
    color: var(--red);
    font-weight: 500;
    letter-spacing: 1.5px;
}

.underline {
    width: 100%;
    position: relative;
    margin-top: 1.5vh;
  }
  .underline:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 5px;
    background: var(--red);
    transition: 0.3s ease-in-out;
    filter: blur(5px);
    z-index: 999;
  }
  
  .underline::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    z-index: 999;
    background: var(--red);
    transition: 0.3s ease-in-out;
  }
  
  .underline:focus-within:after {
    width: 100%;
  }
  
  .underline:focus-within::before {
    width: 100%;
  }
  .underline input {
    font-size: 2vw;
    width: 100%;
    background: transparent;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
    font-weight: 400;
    height: 10vh;
    transition: 0.3s ease-out;
    color: #fff;
  }
  
  .underline input::placeholder {
    transition: 0.3s ease all;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .underline:focus-within input::placeholder {
    color: var(--red);
  }


  .login-box button {
    background: transparent;
    width: 100%;
    border-radius: 8px;
    padding: 7px 0px;
    font-size: 2.5vw;
    font-weight: 400;
    color: var(--red);
    margin-top: 4vh;
    transition: 0.3s ease all;
    border: 2px solid var(--red);
  }
  
  .login-box button:hover {
    background:var(--red);
    letter-spacing: 4px;
    cursor: pointer;
    color: var(--white);
  }





.dash-left {
    width: 18vw;
    background: var(--dark3);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.dash-left button:first-child {
  margin-top: 20vh;
}

.dash-left button {
  margin-top: 1vh;
  background: transparent;
  font-size: 1.6vw;
  color: var(--fontcolor1);
  cursor: pointer;
  padding: 2vh 0vw;
}

.dash-right {
  display: flex;
  width: 78vw;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
}

.right-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  background: var(--dark3);
  margin-top: 5vh;
  padding: 2vw;
  border-radius: 20px;
}


.dash-right h2 {
  color: var(--fontcolor1);
  font-weight: 500;
  font-size: 2vw;
  margin-top: 2vh;
}


.dash-right h3 {
  color: var(--fontcolor1);
  font-weight: 500;
  font-size: 2vw;
  margin-top: 2vh;
}

.input-file-container {
  position: relative;
  width: 15vw;
  margin-top: 2vh;
} 
.js .input-file-trigger {
  display: block;
  padding: 14px 45px;
  background: var(--red);
  border-radius: 12px;
  color: var(--fontcolor1);
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
  border: 2px solid var(--red);
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: transparent;
  color: var(--red);
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
  color: var(--fontcolor2);
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}

.dash-right input {
  background: transparent;
  font-size: 1.5vw;
  margin-top: 1vh;
  padding: 1vw;
  border: 2px solid var(--red);
  border-radius: 10px;
  width: 50%;
  color: var(--fontcolor1);
}

.dash-right textarea {
  background: transparent;
  font-size: 1.5vw;
  margin-top: 1vh;
  padding: 1vw;
  border: 2px solid var(--red);
  border-radius: 10px;
  max-width: 50%;
  width: 50%;
  max-height: 20vh;
  height: 20vh;
}


.movies-flex {
  background: var(--dark1);
  width: 90%;
  overflow-y: scroll;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2vw;
  border-radius: 20px;
  margin-top: 5vh;
  max-height: 100vh;
}

.movie-box {
  width: 40%;
  margin-top: 5vh;
  background: var(--dark3);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  padding: 2vw;
}

.movie-box img {
  width: 90%;
  border-radius: 20px;
}

.movie-box h2 {
  font-size: 1.5vw;
}

.movie-box h3 {
  font-size: 1.5vw;
}

.movie-box button {
  font-size: 1.5vw;
  width: 100%;
  background: var(--red);
  color: var(--fontcolor1);
  padding: 2vh 0vw;
  margin-top: 2vh;
  border-radius: 10px;
  transition: 0.3s ease all;
  border: 2px solid var(--red);
}

.movie-box button:hover {
  background: transparent;
  color: var(--red);
  cursor: pointer;
}


.data-box {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.data-box input {
  width: 40%;
}

.data-box h4 {
  font-size: 2vw;
  color: var(--fontcolor1);
  font-weight: 400;
}

.filmes select {
  background: var(--red);
  width: 20vw;
  padding: 0.5vw;
  border-radius: 10px;
  text-align: center;
  color: var(--fontcolor1);
  font-size: 1.5vw;
  margin-top: 2vh;
}

.horarios-area {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5vh;
}

.input-data {
  display: flex;
  width: 10%;
  background: var(--dark2);
  
  margin-top: 1vh;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--red);
  cursor: pointer;
}

.input-data label {
  width: 100%;
  color: var(--fontcolor1);
  font-size: 1.2vw;
  cursor: pointer;
  height: 100%;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-data i {
  margin-right: 1vw;
  color: rgba(255, 255, 255, 0.1);
  transition: 0.3s ease all;
}

.horarios-area input {
  display: none;
}


#data-1:checked ~ #data-box-1 i {
  color: var(--red);
}

#data-2:checked ~ #data-box-2 i {
  color: var(--red);
}

#data-3:checked ~ #data-box-3 i {
  color: var(--red);
}

#data-4:checked ~ #data-box-4 i {
  color: var(--red);
}

#data-5:checked ~ #data-box-5 i {
  color: var(--red);
}

#data-6:checked ~ #data-box-6 i {
  color: var(--red);
}

#data-7:checked ~ #data-box-7 i {
  color: var(--red);
}

#data-8:checked ~ #data-box-8 i {
  color: var(--red);
}

#data-9:checked ~ #data-box-9 i {
  color: var(--red);
}

#data-10:checked ~ #data-box-10 i {
  color: var(--red);
}

#data-11:checked ~ #data-box-11 i {
  color: var(--red);
}

#data-12:checked ~ #data-box-12 i {
  color: var(--red);
}

#data-13:checked ~ #data-box-13 i {
  color: var(--red);
}

#data-14:checked ~ #data-box-14 i {
  color: var(--red);
}

#data-15:checked ~ #data-box-15 i {
  color: var(--red);
}

#data-16:checked ~ #data-box-16 i {
  color: var(--red);
}

#data-17:checked ~ #data-box-17 i {
  color: var(--red);
}

#data-18:checked ~ #data-box-18 i {
  color: var(--red);
}

#data-19:checked ~ #data-box-19 i {
  color: var(--red);
}

#data-20:checked ~ #data-box-20 i {
  color: var(--red);
}

#data-21:checked ~ #data-box-21 i {
  color: var(--red);
}

#data-22:checked ~ #data-box-22 i {
  color: var(--red);
}

#data-23:checked ~ #data-box-23 i {
  color: var(--red);
}

#data-24:checked ~ #data-box-24 i {
  color: var(--red);
}

#data-25:checked ~ #data-box-25 i {
  color: var(--red);
}

#data-26:checked ~ #data-box-26 i {
  color: var(--red);
}

#data-27:checked ~ #data-box-27 i {
  color: var(--red);
}

#data-28:checked ~ #data-box-28 i {
  color: var(--red);
}

#data-29:checked ~ #data-box-29 i {
  color: var(--red);
}

#data-30:checked ~ #data-box-30 i {
  color: var(--red);
}

#data-295:checked ~ #data-box-295 i {
  color: var(--red);
}

#data-305:checked ~ #data-box-305 i {
  color: var(--red);
}


#data-31:checked ~ #data-box-31 i {
  color: var(--red);
}

#data-32:checked ~ #data-box-32 i {
  color: var(--red);
}

#data-33:checked ~ #data-box-33 i {
  color: var(--red);
}

#data-34:checked ~ #data-box-34 i {
  color: var(--red);
}

#data-35:checked ~ #data-box-35 i {
  color: var(--red);
}

#data-36:checked ~ #data-box-36 i {
  color: var(--red);
}

#data-37:checked ~ #data-box-37 i {
  color: var(--red);
}

#data-38:checked ~ #data-box-38 i {
  color: var(--red);
}

#data-39:checked ~ #data-box-39 i {
  color: var(--red);
}

#data-40:checked ~ #data-box-40 i {
  color: var(--red);
}

#data-41:checked ~ #data-box-41 i {
  color: var(--red);
}

#data-42:checked ~ #data-box-42 i {
  color: var(--red);
}

#data-43:checked ~ #data-box-43 i {
  color: var(--red);
}

#data-44:checked ~ #data-box-44 i {
  color: var(--red);
}


.send {
  background: transparent;
  width: 100%;
  border-radius: 8px;
  padding: 7px 0px;
  font-size: 2.5vw;
  font-weight: 400;
  color: var(--red);
  margin-top: 4vh;
  transition: 0.3s ease all;
  border: 2px solid var(--red);
}

.send:hover {
  background:var(--red);
  letter-spacing: 4px;
  cursor: pointer;
  color: var(--white);
}
