@media screen and (max-width: 800px) {
    .header-flex {
        display: none;
    }

    .inner-nav {
        display: flex;
    }

    .header {
        position: fixed;
    }

    .price-area {
        width: 90vw;
        margin-top: 10vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }
    
    .tittle {
        width: 100%;
        font-size: 3.8vw;
        letter-spacing: 1.5px;
        margin-top: 5vh;
    }
    
    .price-area ul {
        width: 73vw;
        height: 44vw;
        padding: 4vh 2vw;
        border-radius: 3.5vw;
        margin-top: 5vh;
    }
    
    .price-area ul h2 {
        font-size: 4.8vw;
    }
    
    .price-area li {
        font-size: 4.1vw;
        margin-top: 2vh;
        padding: 0vh 2vw;
    }
    
    .price-area button {
        font-size: 3.8vw;
        min-height: 10.5vw;
        border-radius: 2.1vw;
        margin-top: 2vh;
    }
    
    .price-area button:hover {
        cursor: default;
    }

    .novidades-area {
        width: 90vw;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
      
      .novidade-box {
        width: 72vw;
        height: 75vw;
        padding: 3.5vh 5vw;
        border-radius: 25px;
        margin-top: 5vh;
      }
      
      .novidade-box img {
        width: 100%;
        margin-top: 2vh;
        border-radius: 25px;
      }
      
      .novidade-box h2 {
        font-size: 4.5vw;
      
      }
      
    
      .info-price h2 {
        font-size: 4.5vw;
        letter-spacing: 1px;
      
      }
      
      .info-price p {
        font-size: 2.8vw;
        color: var(--fontcolor2);
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 30px;
        margin-top: 2vh;
        text-align: justify;
      }

    .rodape {
        margin-top: 5vw;
        flex-direction: column;
        align-items: center;
    }

    .reuniao {
        width: 82%;
    }

    .reuniao h2 {
        font-size: 3.5vw;
    }
      
      .reuniao h3 {
        font-size: 2vw;
    }

    .underline input {
        font-size: 2.2vw;
    }
    
    .reuniao button {
        padding: 7px 0px;
        font-size: 3vw;
    }

    .endereco {
        width: 82%;
        margin-top: 2vh;
    }

    .endereco h2 {
        font-size: 3.5vw;
    }

    .endereco .contato {
        font-size: 3.5vw;
      }

    .endereco h3 {
        font-size: 2.1vw;
      
    }
      
    .endereco a {
        font-size: 2.1vw;
      
    }
      
    .endereco i {
        font-size: 2.1vw;
    }

    .outros {
        width: 82%;
        margin-top: 2vh;
      }
      
    .outros h2 {
        font-size: 3.5vw;
    }
}