@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: initial;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: none;
  font-family: Poppins, sans-serif;
}

:root {
    --dark1: #100f10;
    --dark2: #1b1b1b;
    --dark3: #242424;
    --red: #ec0020;
    --white: #fafafa;
    --gray: #535353;
    --fontcolor1: rgb(255, 255, 255,0.9);
    --fontcolor2: rgb(250, 250, 250,0.7);
    --fontcolor3: rgb(255, 255, 255,0.5);
}

body {
  background: var(--dark1);
  max-height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/*Header*/

.header {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  justify-content: center;
  height: 10vh;
  z-index: 999;
}

.header-flex {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 8vw;
}

.header-btts {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-btts a {
  color: white;
  font-size: 0.9vw;
  font-weight: 500;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease all;
}

.header-btts a:hover {
transform: translateY(-0.5vh);
color: var(--red);
}

.header-btts .page-select {
color: var(--red);
}


/*header mobile*/

.inner-nav {
  width: 90vw;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.inner-nav img {
  width: 5vw;
}

/*Menu*/

#check-menu {
  display: none;
}

.menu-icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 999;
  position: fixed;
  margin-left: 83vw;
}

.menu-background {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  backdrop-filter: blur(1px);
  background: rgba(15, 15, 15, 0.4);
  top: 0;
  left: 0;
  margin-left: -110vw;
  opacity: 1;
  transition: 0.3s ease all;
}

.menu-icon span {
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  transition: 0.3s ease all;
}

.menu-icon span::before {
  position: absolute;
  content: "";
  margin-top: -8px;
  width: 35px;
  height: 3px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  transition: 0.3s ease all;
}

.menu-icon span::after {
  position: absolute;
  content: "";
  margin-top: 8px;
  width: 35px;
  height: 3px;
  border-radius: 10px;
  background: rgba(255, 255, 255);
  transition: 0.3s ease all;
}

.check-menu:checked ~ .menu-icon span::before {
  margin-top: 0px;
}

.check-menu:checked ~ .menu-icon span {
  transform: rotate(45deg);
}

.check-menu:checked ~ .menu-icon span::after {
  transform: rotate(85deg);
  margin-top: 0;
}

.check-menu:checked ~ .menu-background {
  margin-left: 0vw;
}

.menu-box {
  position: fixed;
  width: 40vw;
  height: 100vh;
  background: var(--dark3);
  backdrop-filter: blur(35px);
  top: 0;
  right: 0;
  padding: 80px 20px;
  z-index: 899;
  margin-right: -60vw;
  transition: 0.3s ease all;
  box-shadow: -20px 0 20px rgba(255, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.check-menu:checked ~ .menu-box {
  margin-right: 0;
}

.menu-box a {
  color: white;
  margin-top: 2vh;
  font-size: 120%;
  width: 90%;
  text-align: center;
  border: 2px solid var(--red);
  border-radius: 8px;
  box-shadow: 0 15px 15px rgba(15, 15, 15, 0.19);
  padding: 8px 0px;
  cursor: default;
}








.contato-area {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5vh;
}

.tittle {
    font-size: 2.8vw;
    color: var(--red);
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 14vh;
    width: 100%;
    text-align: center;
}

.contato-box {
    width: 23vw;
    background: var(--dark2);
    padding: 3.5vh 2vw;
    height: 10.5vw;
    border-radius: 1.8vw;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 4vh;
}

.contato-box h2 {
    color: var(--fontcolor1);
    font-size: 2vw;
    font-weight: 500;
    letter-spacing: 1px;
}

.contato-box h3 {
    color: var(--fontcolor2);
    font-size: 1.5vw;
    font-weight: 400;
    margin-top: 1vh;
}

.contato-box button {
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    margin-top: 2vh;
    height: 3.5vw;
    border-radius: 10px;
    color: var(--fontcolor1);
    background: #25d366;
}