.contato-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5vh;
}

.tittle {
  font-size: 2.8vw;
  color: var(--red);
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 14vh;
  width: 100%;
  text-align: center;
}

.contato-box {
  width: 23vw;
  background: var(--dark2);
  padding: 3.5vh 2vw;
  height: 10.5vw;
  border-radius: 1.8vw;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 4vh;
}

.contato-box h2 {
  color: var(--fontcolor1);
  font-size: 2vw;
  font-weight: 500;
  letter-spacing: 1px;
}

.contato-box h3 {
  color: var(--fontcolor2);
  font-size: 1.5vw;
  font-weight: 400;
  margin-top: 1vh;
}

.contato-box button {
  width: 100%;
  text-align: center;
  font-size: 1.5vw;
  margin-top: 2vh;
  height: 3.5vw;
  border-radius: 10px;
  color: var(--fontcolor1);
  background: #25d366;
}
