.convenios {
  font-size: 2.8vw;
  color: var(--red);
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 14vh;
}

.convenio-info {
  width: 90vw;
  margin-top: 2vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.convenio-info h2 {
  text-align: start;
  color: var(--fontcolor1);
  margin-top: 4vh;
}

.tittle {
  letter-spacing: 1px;
}

.convenio-info p {
  font-size: 0.9vw;
  color: var(--fontcolor2);
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 1vh;
}

.convenio-info button {
  background: var(--red);
  border: 2px solid var(--red);
  width: 100%;
  border-radius: 8px;
  padding: 7px 0px;
  font-size: 1.8vw;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 3vh;
  transition: 0.3s ease all;
  font-weight: 500;
}

.convenio-info button:hover {
  background: transparent;
  letter-spacing: 4px;
  cursor: pointer;
  color: var(--red);
}

.info-box {
  width: 30vw;
  height: 34vw;
  display: flex;
  flex-direction: column;
  background: var(--dark2);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  padding: 3.5vh 2vw;
  border-radius: 1.5vw;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
}

.info-box img {
  width: 100%;
  margin-top: 2vh;
  border-radius: 25px;
}

.info-box h2 {
  font-size: 1.8vw;
  color: var(--fontcolor1);
  font-weight: 400;
}
